[submodule "Images.Shared"]
	path = Images.Shared
	url = https://DKorablin@github.com/DKorablin/Images.Shared.git
[submodule "WinForms.Shared"]
	path = WinForms.Shared
	url = https://DKorablin@github.com/DKorablin/WinForms.Shared.git
[submodule "Reflection.Shared"]
	path = Reflection.Shared
	url = https://DKorablin@github.com/DKorablin/Reflection.Shared.git
